[package]
name = "jet-proto-math"
version = "1.0.6"
edition = "2018"

description = "A library of math helpers suitable for use in solana programs"
license = "AGPL-3.0-or-later"
homepage = "https://jetprotocol.io"
repository = "https://github.com/jet-lab/program-libraries"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# 0.9 requires rustc 1.56.1+, but bpf is using 1.56.0
uint = "0.8"
thiserror = "1.0.20"
bytemuck = { version = "1.7", features = ["derive"] }
static_assertions = "1.1.0"
num-traits = "0.2"

anchor-lang = { git = "https://github.com/jet-lab/anchor", branch = "master" }
